.alert {
    font-weight: bold;
    font-size: 1.5em;
    @include border-radius(0);
    border: 0;
    margin: 0;
    padding: 0.2em 0.7em;

    &-box {
        position: fixed;
        z-index: 950;
        top: 80px;
        bottom: initial;
        left: 0;
        right: 0;

        .close {
            margin-top: 0.3em;
        }
    }

    &-success {
        color: $white;
        background-color: rgb(76, 175, 80);
        background-color: rgba(76, 175, 80, 0.85);

        a {
            color: $white;
        }
    }

    &-danger {
        color: $white;
        background-color: rgb(183, 28, 28);
        background-color: rgba(183, 28, 28, 0.85);

        a {
            color: $white;
        }
    }

    &-warning {
        color: $color_log_cabin_approx;
        background-color: rgb(255,235,59);
        background-color: rgba(255,235,59,0.85);
    }

    &-info {
        color: $white;
        background-color: rgb(3, 169, 244);
        background-color: rgba(3, 169, 244, 0.85);

        a {
            color: $white;
        }
    }

    &-slim, &-sm {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1219px) {
    .alert-box {
        top: initial;
        bottom: 0px;
    }
}

@media screen and(min-width: 992px) {
    .alert-box {
        left: 70px;
    }
}

.mode-content .alert-box {
    top: 0;
    left: 0;
}