.footer {
    background: $color_bright_red_approx;
    margin-top: 120px;
    position: relative;
    .container {
        padding: 60px 0 20px;
    }
    ul {
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        line-height: 3.5em;
        li {
            display: inline-block;
            text-align: center;
            background: $black_20;
            color: $white;
            line-height: 45px;
            margin: 0 4px;
            width: 45px !important;
            height: 45px !important;
            @include border-radius(3px);
            &:hover {
                background: $color_shark_approx;
                a {
                    color: $white;
                }
            }
            a {
                color: $white;
                width: 42px !important;
                height: 42px !important;
                i {
                    line-height: 45px;
                    width: 100%;
                    color: $white;
                }
            }
        }
    }
    p {
        color: $white;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }

    &-by-company {
        margin-bottom: 50px;
        text-align: center;

        a:hover {
            text-decoration: none;
        }
    }
}

.gototop {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: $white;
    position: absolute;
    margin-left: -30px;
    top: -35px;
    left: 50%;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4);
    @include border-radius(50%);

    i {
        color: $color_bright_red_approx;
        line-height: 60px;
    }
}
