// used for input.contact, select.contact
%extend_6 {
    background: $white;
    border: solid 1px $color_alto_approx;
    color: $black;
    padding: 15px 30px;
    margin-right: 3%;
    margin-bottom: 30px;
    outline: none;
    width: 100%;
}

// used for .error input, input.error, .error textarea, textarea.error
%extend_7 {
    background-color: $white;
    border: 1px solid $red !important;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

input {
    &.contact {
        @extend %extend_6;
        &.noMarr {
            margin-right: 0;
        }
    }
    &.error {
        @extend %extend_7;
    }
}

textarea {
    &.contact {
        background: $white;
        color: $black;
        border: solid 1px $color_alto_approx;
        padding: 15px 30px;
        margin-bottom: 40px;
        outline: none;
        height: 160px;
        width: 100%;
    }
    &.error {
        @extend %extend_7;
    }
}

select.contact {
    @extend %extend_6;
}

.done {
    display: none;
}

.error {
    padding: 5px 10px;
    color: $white;
    background-color: $color_thunderbird_approx;
    margin-bottom: 10px;
    input {
        @extend %extend_7;
    }
    textarea {
        @extend %extend_7;
    }
    ul {
        list-style-type: square;
        margin: 0;
    }
}

input[type=checkbox], input[type=radio] {
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and(min-width:768px) {
    input.contact.col-md-6 {
        width: 48.5%;
    }
}