// used for .papers, .papers:before, .papers:after
%extend_2 {
    background-color: $white;
    border: 1px solid $color_celeste_approx;
    @include box-shadow(inset 0 0 30px $black_10, 1px 1px 3px $black_20);
}

// used for .papers:before, .papers:after
%extend_3 {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transform(rotateZ(2.5deg));
    z-index: -1;
}

.papers {
    @extend %extend_2;
    position: relative;
    width: 90%;
    padding: 2em;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 12px;
    border-radius: 5px;

    &:before {
        @extend %extend_2;
        @extend %extend_3;
    }

    &:after {
        @extend %extend_2;
        @extend %extend_3;
        @include transform(rotateZ(-2.5deg));
    }

    h1 {
        font-size: 1.8em;
        font-weight: normal;
        text-align: center;
        padding: 0.2em 0;
        margin: 0;
        border-top: 1px solid $color_alto_approx;
        border-bottom: 2px solid $color_alto_approx;
    }

    h3 {
        margin-top: 20px;
        font-family: Ubuntu Condensed,Tahoma;
    }

    p {
        margin: 1.5em 0;
        font-size: 15px;
    }

    img {
        max-width: 100%;
        margin-bottom: 5px;
    }

    &-simple {
        margin-bottom: 20px;
        margin-top: 20px;

        &:before, &:after {
            display: none;
        }
    }

    &-normal {
        font-size: 1em;
    }

    &-full {
        margin: 0;
        width: 100%
    }
}
