nav {
    display: block;
    width: 80px;
    z-index: 1001;
    background: #000;
    box-shadow: 3px 0px 3px #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -10px;
    border-radius: 0 5px 5px 0;

    .svg {
        max-width: 80%;
        height: 90%;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .tooltip {
        font-size: 20px;

        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &#main-pages {
            height: 100%;
        }

        &#main-pages>li {
            height: 60px;
            width: 100%;
            a {
                display: block;
                color: $color_rolling_stone_approx;
                position: relative;
                width: 100%;
                height: 100%;
                line-height: 50px;
                text-align: center;
            }
            &.main-page a {
                margin: 10px 0;
            }
            &.secondary-page a {
                margin: 10px;
            }
            &#desktop-nav-toggle a {
                margin: 10px;
            }
        }

        > li.active a {
            background: #eee;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }

        &#main-pages li {
            &.main-page a span, &.secondary-page a span {
                visibility: hidden;
                top: 6px;
                left: 65px;
                background: $color_outer_space_approx;
                color: $white;
                @include border-radius(5px);
                padding: 0 14px;
                line-height: 38px;
                white-space: nowrap;
                z-index: 100;
                opacity: 0;
            }
        }
    }

    li.active .svg {
        opacity: 1;
    }

    &:hover {
        left: 0;
        transition: 0.2s ease-in;
    }
}

nav.nav-roll-up {
    height: 80px;
    overflow: hidden;
    background: transparent;
    box-shadow: none;

    ul>li.active a {
        background: transparent;
    }

    &:hover {
        background: #000;
        box-shadow: 3px 0px 3px #000;
        height: 100%;

        ul>li.active a {
            background: $color_template_primary;
        }
    } 
}