ul.socials {
    list-style-type: none;
    font-size: 1.5em;
    margin: 5px 0;
    padding: 0;

    li {
        display: inline-block;

        a i.fa, a .i-img {
            background-color: #fff;
            color: #000 !important;
            width: 1.5em;
            height: 1.5em;
            border-radius: 5px;
            text-align: center;
            line-height: 1.5em;
        }
    }
}
