@import "default-vars";

$color_template_primary: #fecb24;
$color_template_secondary: #53534a;
$color_template_nav_li_active_bg: #ffffff;

@import "base";
@import "../part/timeline";

#wrapper {
    margin-left: 0 !important;
}

body {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    background-color: #fff;
}

a {
    color: #000;
}

a:hover {
    color: #333;
}

header {
    margin-top: 70px;
}

.navbar-inverse .navbar-nav>.active>a,
.isFixed .navbar-inverse .navbar-nav>.active>a:focus,
.isFixed .navbar-inverse .navbar-nav>.active>a,
.isFixed .navbar-inverse .navbar-nav>.active>a:focus,
.navbar.navbar-inverse.navbar-static-top .nav a:hover,
.isFixed .navbar.navbar-inverse.navbar-static-top .nav a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background: #5e8127;
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
}

.navbar.navbar-inverse.navbar-static-top .nav a {
    padding: 27px 16px;
}

.navbar .menuItem a {
    height: 72px;
}

.submenu {
    border: 0;
}

.navbar .submenuItem a {
    /* background: url("//img2.udanax.cz/d/bj/_design/footer-list-icon.png") no-repeat;
    background-position: center left 10px !important;*/
    height: auto;
    font-size: 16px;
    padding-left: 15px !important;
}

.navbar .submenuItem a:hover {
    /* background: url("//img2.udanax.cz/d/bj/_design/footer-list-icon2.png") no-repeat  !important;
    background-position: center left 10px !important;*/
    border: 0;
    color: #f7ca33 !important;
}

.navbar .submenuItem a:focus {
    text-decoration: none;
}

.menuItem {
    font-size: 20px;
    font-weight: 300;
    text-transform: none;
}

p {
    color: #42423b;
    line-height: 1.3;
}

.positioncard-logo {
    padding: 20px 5px;
}
.positioncard-logo img {
    max-width: 100%;
    width: auto;
    height: 81px;
}

.maxwidth-350 {
    max-width: 350px;
}

.minheight-200 {
    min-height: 200px;
}

.no-margin {
    margin: 0 !important;
}

.intro-box {
    background-color: #5e8127 !important;
}

.area-block {
    background-color: #fecb24;
    color: #33332d;
    font-family: Montserrat, sans-serif;
}

.footer {
    border-bottom: 6px solid #fdcb24 !important;
    background-color: #53534a !important;
    border-top: 1px solid #fdcb24;
}

.stuckMenu {
    background-color: #53534a;
    border-bottom: 2px solid #3b3b36;
}

.navbar-inverse .navbar-nav>.active>a,
.isFixed .navbar-inverse .navbar-nav>.active>a:focus,
.isFixed .navbar-inverse .navbar-nav>.active>a,
.isFixed .navbar-inverse .navbar-nav>.active>a:focus,
.navbar.navbar-inverse.navbar-static-top .nav a:hover,
.isFixed .navbar.navbar-inverse.navbar-static-top .nav a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #42423b;
    border-bottom: 2px solid #fdcb24 !important;
}

.language-box, .search-box {
    background: transparent;
    color: #fff;
}

h2, .heading h2 {
    font-family: Arial;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    font-size: 50px;
    color: #42423b;
    text-shadow: 1px 1px #f0f0f0;
    margin: 0 0 35px 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 60px;
}

.bj-h2 {
    color: #fdcb24;
    text-shadow: 1px 1px #868686;
}

.heading h2 {
    margin-bottom: 10px;
}

.heading h2::first-letter {
    color: inherit;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    color: #42423b;
    margin-top: 0;
    margin-bottom: 0px;
    line-height: 40px;
}

.navbar.navbar-inverse.navbar-static-top .nav a {
    color: #fff;
}

.submenu {
    background-color: #42423b;
    border-bottom: 4px solid #fdcb24;
}

.submenu li {
    background-color: transparent;
    border-bottom: 0;
}

.dividerline {
    display: none;
}

#beerjet-model {
    position: relative;
    background-image: url("//img2.udanax.cz/d/bj/bg/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    background-position: 0 0;
}

.content-wrapper {
    width: 100%;
    border-top: 2px solid #fdcb24;
    position: relative;
}

#beerjet-start {
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center top;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-attachment: fixed;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

#beerjet-start.home {
    background-color: #0a1310;
    background-position: 0 -160px;
}

@media screen and (max-width: 1500px) {
    #beerjet-start.home {
        background-position: center top;
    }
}

.animate {
    opacity: 1 !important;
}

.home-lizenz-wrapper {
    float: right;
    max-width: 570px;
    margin: 60px 5% 0 5%;
    position: relative;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.navbar-wrapper {
    height: 72px;
}

.home-lizenz-wrapper h2 {
    width: 90%;
    text-align: left;
}

.home-lizenz-wrapper>div {
    clear: left;
}

.home-lizenz-wrapper p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 22px;
}

#beerjet-video {
    padding: 50px 0;
}

.content-gradient {
    background: #a8a8a6;
    background: -moz-linear-gradient(top, #a8a8a6 0%, #b0b0ae 20%, #d8d8d8 34%, #f2f2f2 43%, #fff 55%, #fff 87%, #ececeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8a8a6), color-stop(20%, #b0b0ae), color-stop(34%, #d8d8d8), color-stop(43%, #f2f2f2), color-stop(55%, #fff), color-stop(87%, #fff), color-stop(100%, #ececeb));
    background: -webkit-linear-gradient(top, #a8a8a6 0%, #b0b0ae 20%, #d8d8d8 34%, #f2f2f2 43%, #fff 55%, #fff 87%, #ececeb 100%);
    background: -o-linear-gradient(top, #a8a8a6 0%, #b0b0ae 20%, #d8d8d8 34%, #f2f2f2 43%, #fff 55%, #fff 87%, #ececeb 100%);
    background: -ms-linear-gradient(top, #a8a8a6 0%, #b0b0ae 20%, #d8d8d8 34%, #f2f2f2 43%, #fff 55%, #fff 87%, #ececeb 100%);
    background: linear-gradient(to bottom, #a8a8a6 0%, #b0b0ae 20%, #d8d8d8 34%, #f2f2f2 43%, #fff 55%, #fff 87%, #ececeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a6', endColorstr='#ececeb',GradientType=0 );
}

.vid-sub {
    clear: both;
    color: #42423b;
    font-size: 20px;
    text-transform: uppercase;
}

.iframe-wrap {
    display: inline-block;
    width: 100%;
    max-width: 855px;
    height: 0;
    margin-bottom: 16px;
    padding-bottom: 481px;
    position: relative;
}

.iframe-wrap iframe {
    z-index: 2;
    max-width: 100%;
    width: 855px;
    height: 481px;
}

.product-vid {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contact.submit, .bj-button-lg {
    font-size: 30px;
}

.contact.submit, .bj-button {
    background: #fdcb24;
    box-shadow: 0 3px #eb9a11;
    border-radius: 5px;
    color: #42423b;
}

.contact.submit:hover, .bj-button:hover {
    transition: all 0.2s ease;
    background-color: #FDC024;
    color: #42423b !important;
}

@media screen and (min-width: 1220px) {
    .language-box, .reservation-box, .reservation-box-restu {
        height: 70px;
    }
    .language-box .wrap, .reservation-box .wrap, .reservation-box-restu .wrap {
        padding: 20px 20px;
    }
}

@media screen and (max-width: 767px) {
    header {
        margin-top: 52px;
    }
}

.language-box .dropdown-menu {
    background-color: #53534a;
}

.language-box .dropdown-menu li:hover {
    background-color: #42423b;
    border-left: 2px solid #fdcb24 !important;
}

.language-box .dropdown-menu li a:hover, .language-box .dropdown-menu li a:focus {
    background-color: transparent;
    color: #fff;
}

.language-box .dropdown-menu li a {
    text-transform: uppercase;
    color: #fff;
}

#home-link {
    float: left;
    margin-top: 20px;
    max-width: 264px;
    height: 36px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(0px);

    &:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.navArea {
    float: left;
}

.alert {
    padding: 0.4em 0.7em;
}

.alert-box {
    top: 72px;
    bottom: initial;
    left: 0 !important;
}

.alert-box .close {
    margin-top: 0;
}

#beerjet-facts, #beerjet-introtext {
    background-image: url("//img2.udanax.cz/d/bj/bg/home-facts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 50px 0 70px;
}

#beerjet-facts .facts-img {
    margin: 0 auto 10px;
    width: 318px;
    height: 180px;
    max-width: 100%;
    height: auto;
}

#beerjet-facts .facts-title {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    margin: 0px auto 15px !important;
}

#beerjet-facts .facts-descr {
    font-size: 18px;
    color: #fff;
}

.descr-box {
    float: left;
    width: 342px;
    height: 225px;
    padding: 20px 8px;
    margin: 29px 16px 0;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
}

.descr-box img {
    width: auto;
    height: 80px;
    margin: 0 auto 15px;
}

.descr-box .descr-box-inner h3 {
    color: #33332d;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
}

.descr-box .descr-box-inner p {
    color: #33332d;
    font-size: 15px;
}

#beerjet-technical {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.s-style-yellow {
    background-color: #fecb24;

    .contact.submit, .s-style-yellow  .bj-button {
        background: #53534a;
        box-shadow: 0 3px #8f8c85;
        color: #fff;
    }
}

.s-style-yellow .contact.submit:hover, .s-style-yellow  .bj-button:hover {
    background: #333;
    box-shadow: 0 3px #8f8c85;
    color: #fff !important;
}

#beerjet-descr {
    width: 100%;
    padding: 50px 0 80px;

    h2 {
        color: #42423b;
    }
}

#counter-bg {
    padding-bottom: 40px;
    background: url("//img2.udanax.cz/d/bj/bg/home-counter.jpg") no-repeat center center fixed;
    background-image: url("//img2.udanax.cz/d/bj/bg/home-counter.jpg");
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img2.udanax.cz/d/bj/bg/home-counter.jpg',sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='//img2.udanax.cz/d/bj/bg/home-counter.jpg', sizingMethod='scale')";
}

.subheading-wh, .subheading-wh p {
    margin: 40px 0;
    font-size: 25px;
    color: #fff;
}

.subheading-gr, .subheading-gr p {
    margin: 40px 0;
    font-size: 25px;
    color: #42423b;
}

.p-top30 {
    padding-top: 30px !important;
}

.p-top40 {
    padding-top: 40px;
}

.clear-margin {
    margin: 0;
}

#beercounter {
    margin: 0px auto 30px;
    font-size: 135px;
    color: #fdcb24;
    font-weight: 800;
}

#beer-finsihed {
    display: none;
    color: #fdcb24;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    margin: 10px 0 50px;
}

.gototop i {
    color: #53534a;
}

.img-cover.bg {
    background-color: #f1f1f1;
}

.img-cover {
    background-repeat: no-repeat;
    -moz-background-size: auto 80%;
    -webkit-background-size: auto 80%;
    -o-background-size: auto 80%;
    background-size: auto 80% !important;
    background-position: center center;
    width: 100%;
    padding-bottom: 100%;
}

.padding-bottom {
    padding-bottom: 100px;
}

@media screen and (min-width: 991px) {
    .navbar-nav {
        padding-left: 50px;
    }
}

.submenu li {
    padding: 0;

    &:hover {
        background-color: transparent;
    }
}

.navbar.navbar-inverse.navbar-static-top .nav .submenu a {
    padding: 10px;

    &:hover {
        background-color: #33332d;
        border: 0 !important;
    }
}

.team-page {
    max-width: 912px;

    h3 {
        margin-bottom:20px;
    }
}

.submenu {
    width: 220px;
}

.navbar .container {
    max-width: 900px;
}

@media screen and (max-width: 1199px) {
    #home-link {
        display: none;
    }
}

.grid-gallery figcaption h3 {
    line-height: 1.1em;
    font-weight: bold;
}

.slicknav_btn {
    background-color: #543c18;
}

.menu {
    background-color: #53534a;
}

.teaser-expandable:hover .btns.teaser {
    opacity: 1;
}
.btns.teaser {
    opacity: 0;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 16%;
    font-size: 18px;
    font-weight: bold;
    -webkit-box-shadow: 0 3px #eb9a11;
    -moz-box-shadow: 0 3px #eb9a11;
    box-shadow: 0 3px #eb9a11;

    &:hover {
        background-color: #f0f0f0;
    }
}

.btns {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fdcb24;
    -webkit-box-shadow: 0 3px #eb9a11;
    -moz-box-shadow: 0 3px #eb9a11;
    box-shadow: 0 3px #eb9a11;
    padding: 15px 30px;
    font-size: 30px;
    color: #42423b;
    cursor: pointer;
    border: none;
    display: inline-block;
    margin: 0.3em 0;

    &:hover {
        transition: all 0.2s ease;
        background-color: #FDC024;
        color: #42423b !important;
    }
}

.transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.s-style-img .heading-line h2, .s-style-img .heading-line h2::first-letter {
    color: #fff !important;
}

.header-dark {
    background-color: #53534a;
    color: #fdcb24;

    h1, h2 {
        padding-top: 25px;
        margin-bottom: 30px;
    }
}

.header-dark {
    background-color: #53534a;
    color: #fff;

    p {
        color: #fff;
        padding-bottom: 35px;
        font-size: 24px;
        line-height: 1.3;
    }

    h2 {
        color: #fdcb24;
        text-shadow: initial;
    }
}

.h-slim {
    text-transform: none;
    font-family: Arial;
    font-weight: 200;
}

.margin-top {
    margin-top: 125px;
}

.margin-bottom-negative {
    margin-bottom: -55px;
}

.row-just-container {
    padding-bottom: 40px;
}

.row-just-element {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
}

.row-just-element:before {
    content: url(//img2.udanax.cz/d/bj/symbol/check.svg);
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    margin-right: 8px;
}

.container-model h2 {
    margin-top: 0;
    font-size: 38px;
    color: #fdcb24 !important;
    text-align: left;
}

.quickfacts {
    display: inline-block;
    position: relative;
    z-index: 10;

    .inner {
        width: 88%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .body {
        background-color: #f1f1f1;
        color: #53534a;
        padding-bottom: 40px;
        padding-top: 6%;
        text-align: left;
    }

    .body p {
        font-size: 16px;
        line-height: 20px;
    }
}

.quickfacts-heading {
    text-align: center;
    background-color: #fdcb24;

    h3 {
        margin-bottom: 0;
        color: #53534a;
        font-size: 24px;
        line-height: 48px;
        font-family: Arial;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.content-gradient-model {
    background: #fff;
    background: -moz-linear-gradient(-45deg, #fff 0%, #d3d3d0 100%);
    background: -webkit-linear-gradient(-45deg, #fff 0%, #d3d3d0 100%);
    background: linear-gradient(135deg, #fff 0%, #d3d3d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d0',GradientType=1 );
}

.content-gradient-model-sub {
    position: relative;
    z-index: 1;
    height: 480px;
    background: #4d4d4d;
    background: -moz-linear-gradient(-45deg, #4d4d4d 0%, #191916 100%);
    background: -webkit-linear-gradient(-45deg, #4d4d4d 0%, #191916 100%);
    background: linear-gradient(135deg, #4d4d4d 0%, #191916 100%);
}