@import "default-vars";

$color_template_primary: #9e083f;
$color_template_secondary: #0296b5;

@import "base";

.heading h2::first-letter {
    color: #9e083f;
}

.btn-danger {
    background-color: #9e083f;
    border-color: #9e083f;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #870836;
    border-color: #870836;
}

.btn-primary {
    background-color: #0296b5;
    border-color: #0296b5;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #016378;
    border-color: #016378;
}

a {
    color: #9e083f;
}

.flyers-carousel .carousel-indicators .active {
    background-color: #9e083f;
}

.wine-thumb {
    float: left;
    margin-right: 40px;
}

.comp-steps .step.active {
    background-color: #9e083f !important;
}

.s-style-img h2, .s-style-img h2::first-letter {
    color: #fff !important;
}

.s-style-highlight-dark {
    background-color: #9e083f;
}

h1.intro {
    display: none;
}

.alert-primary {
    background:  #9e083f;
    color: #fff;

    a, a:hover {
        color: #fff;
    }
}

@media screen and (min-width: 992px) {
    .alert-box {
        left: 0
    }
}

@media screen and (min-width: 992px) {
    #wrapper {
        margin-left: 0 !important;
    }
}