@import "default-vars";

$color_template_primary: #03a9f4;
$color_template_secondary: #8bc34a;
$color_template_nav_li_active_bg: #ffffff;

@import "base";

.s-style-highlight-dark {
    background-color: #03a9f4;
}

#wrapper {
    margin-left: 0;
}

a, a:hover {
    color: $color_template_secondary;
}

.contact.submit:hover {
    background: $color_template_secondary;
}

.reservation-box {
    background: $color_template_secondary;
}