@import "default-vars";

$color_template_primary: #0091a0;
$color_template_secondary: #9e877a;
$color_template_nav_li_active_bg: #ffffff;

@import "base";

.s-style-highlight-dark {
    background-color: #0091a0;
}

#wrapper {
    margin-left: 0;
}