@import "default-vars";

$color_template_primary: #7BB72A;
$color_template_secondary: #0074A2;

@import "base";

.intro-box {
    background-color: #5e8127 !important;
}

.area-block {
    background-color: #5e8127;
}

.footer {
    background-color: #7BB72A !important;
}

.content-wrapper {
    width: 100%;
    position: relative;
}

@media screen and (max-width: 1500px) {
    #beerjet-start.home {
        background-position: center top;
    }
}

.animate {
    opacity: 1 !important;
}

.contact.submit, .bj-button-lg {
    font-size: 30px;
}

.contact.submit, .bj-button {
    background: #D9D444;
    box-shadow: 0 3px #eb9a11;
    border-radius: 5px;
    color: #42423b;
}

.contact.submit:hover, .bj-button:hover {
    transition: all 0.2s ease;
    background-color: #FDC024;
    color: #42423b !important;
}

@media screen and (max-width: 767px) {
    header {
        margin-top: 52px;
    }
}

#home-link:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.s-style-highlight-dark {
    background-color: #0074A2;
    color: #fff !important;
}

.gototop i {
    color: #53534a;
}

.padding-bottom {
    padding-bottom: 100px;
}

.display-none {
    display: none;
}

@media screen and (max-width: 1199px) {
    #home-link {
        display: none;
    }
}

.slicknav_btn {
    background-color: #0074A2;
}