@import "default-vars";

$color_template_primary: #7BB72A;
$color_template_secondary: #0074A2;
$color_template_nav_li_active_bg: #ffffff;

@import "base";

.contact.submit, .bj-button-lg {
    font-size: 30px;
}

.contact.submit, .bj-button {
    background: #D9D444;
    box-shadow: 0 3px #eb9a11;
    border-radius: 5px;
    color: #42423b;
}

.contact.submit:hover, .bj-button:hover {
    transition: all 0.2s ease;
    background-color: #FDC024;
    color: #42423b !important;
}

.s-style-highlight-dark {
    background-color: #0074A2;
    color: #fff !important;
}

h1.intro {
    display: none;
}