@import "default-vars";

$color_template_primary: #0c4b12;
$color_template_secondary: #543c18;

@import "base";

.positioncard-logo {
    padding: 20px 5px;
}

.positioncard-logo img {
    max-width: 100%;
    width: auto;
    height: 81px;
}

.s-style-highlight-dark {
    background-color: #543c18;
}

.about-us-list {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.about-us-list li {
    margin-bottom: 10px;
}

h1.intro {
    display: none;
}

@media screen and (min-width: 992px) {
    .alert-box {
        left: 0;

        .alert {
            padding-left: 90px;
        }
    }
}

@media screen and (min-width: 992px) {
    #wrapper {
        margin-left: 0;
    }
}

@keyframes reservation-box-flashing {
    0%  {background-color: #1fc36a;}
    50%  {background-color: #007234;}
    100%  {background-color: #1fc36a;}
}

.reservation-box {
    animation-name: reservation-box-flashing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}