@import "default-vars";

$color_template_primary: #900700;
$color_template_secondary: #579900;
$color_template_nav_li_active_bg: #ffffff;

@import "base";

.heading h2::first-letter {
    color: #900700;
}

.btn-danger {
    background-color: #9e083f;
    border-color: #9e083f;
}

.btn-danger:hover {
    background-color: #870836;
    border-color: #870836;
}

a {
    color: #9e083f;
}

.flyers-carousel .carousel-indicators .active {
    background-color: #9e083f;
}

.wine-thumb {
    float: left;
    margin-right: 40px;
}

.papers .btn {
    white-space: normal;
}