@import "default-vars";

$color_template_primary: #00447f;
$color_template_secondary: #222;

@import "base";
@import "../part/career";

.heading h2::first-letter {
    color: $color_template_primary;
}

#wrapper {
    margin-left: 0 !important;
}

.heading h2::first-letter{
    color: #00447f;
}

.logo-small {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    padding: 10px;
}

.logo-small img {
    width: 60px;
}

.s-style-img h2, .s-style-img h2::first-letter {
    color: #fff;
}

.papers h2, .papers h2::first-letter {
    color: #00447f;
}

.contact.submit:hover {
    background: #00447f;
}

.banner-jobs {
    margin-top: 40px;
    background-color: #00447f;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: left center;
    color: #ffffff;
}

.career-welcome-text {
    background-color: #1b4789;
}

@media screen and (min-width: 992px) {
    .alert-box {
        left: 0px;
    }
}