@import "default-vars";

$color_template_primary: #00447f;
$color_template_secondary: #222;

@import "base";
@import "../part/career";

#wrapper {
    margin-left: 0 !important;
}

header {
    margin-top: 0;
    text-align: center;
    background-color: #2196F3;

    h1 {
        color: #fff;
        margin: 5px 0;
    }
}

.career-company-list {
    padding: 10px 20px;
    font-size: 2em;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 992px) {
    .alert-box {
        left: 0px;
    }
}