@import "default-vars";

$color_template_primary: #2c691f;
$color_template_secondary: #f3af00;

@import "base";

.isFixed .navbar-inverse .navbar-nav>.active>a, .isFixed .navbar-inverse .navbar-nav>.active>a:focus {
    background: #2c691f;
}

.heading h2::first-letter {
    color: #2c691f;
}

.isFixed .navbar.navbar-inverse.navbar-static-top a:hover {
    background: #2c691f;
}

.sortiment-hidden {
    display: none;
}

.allergens-bange, .list-bange, .price-bange {
    width: 1.7em;
    height: 1.7em;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.allergens-bange {
    background-color: #9d2566;
}

.list-bange {
    background-color: #2c691f;
}

.price-bange {
    width: 4em;
    height: 4em;
    background-color: #2c691f;
    line-height: 1em;
    padding-top: 1.5em;
}

.banges-line {
    text-align: right !important;
}

.buttons-line {
    line-height: 3.5em;
}

.login-box:hover {
    background: #2c691f;
}

a {
    color: #2c691f;
}

a:hover {
    color: #2c691f;
}

.contact.submit:hover {
    background: #2c691f;
}

.about-us-list {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin: 20px 0;
}

.about-us-list li {
    margin-bottom: 10px;
}

.dm-warning-message {
    display: none;
}

.s-style-img h2::first-letter {
    color: #f3af00;
}

.s-style-highlight-dark {
    background-color: #2c691f;
}

.slicknav_btn {
    background-color: #2c691f;
}