@import "default-vars";

$color_template_primary: #00a1e0;
$color_template_primary_font: #fff;
$color_template_secondary: #ffc107;
$color_template_primary_font: #000;

@import "base";

#wrapper {
    margin-left: 0 !important;
}

.heading h2::first-letter {
    color: $color_template_primary;
}

.contact.submit:hover {
    background: $color_template_primary;
}

.intro-box {
    background: #2e8bdc !important;
    background: #FFC107 !important;
    color: #000;
}

.intro-box-white {
    background: #fff !important;
    background: rgba(255,255,255,0.9) !important;
    color: #000;
}

a, a:hover {
    color: #428bca;
}

.btn-primary {
    background-color: #00a1e1;
    border-color: #00a1e1;
}

.width-350 {
    max-width: 350px;
}

.area-simple {
    background-color: #00a1e1;
    color: #fff;
    padding: 25px 50px;
}

.area-simple h4 {
    color: #fff;
}

.papers {
    color: #777;
}

.performers-list .papers {
    margin: 10px 0;
    padding: 25px 10px;
    width: 100%;
}

#header-left-carousel .carousel-indicators .active {
    background-color: rgba(0,167,225,0.9) !important;
}

#header-left-carousel .carousel-indicators li {
    border-color: rgba(0,167,225,0.9) !important;
}

h1.intro {
    display: none;
}

.flyers-carousel .carousel-indicators .active {
    background-color: #00a1e0;
}