@import "default-vars";

$color_template_primary: #3071a9;
$color_template_secondary: #00a1e1;

@import "base";

.isFixed .navbar-inverse .navbar-nav>.active>a, .isFixed .navbar-inverse .navbar-nav>.active>a:focus {
    background: #00a1e1;
}

.heading h2::first-letter {
    color: #00a1e1;
}

.isFixed .navbar.navbar-inverse.navbar-static-top a:hover {
    background: #00a1e1;
}

.contact.submit:hover {
    background: #00a1e1;
}

.grid figcaption {
    background: transparent;
}

.grid-gallery figcaption h3 {
    color: #333;
}

.intro-box {
    background: #00a1e1 !important;
    background: rgba(48,113,169,0.9) !important;
}

.intro-box-white {
    background: #fff !important;
    background: rgba(255,255,255,0.9) !important;
    color: #000;
}

a, a:hover {
    color: #428bca;
}

.btn-primary {
    background-color: #00a1e1;
    border-color: #00a1e1;
}

.width-350 {
    max-width: 350px;
}

.area-simple {
    background-color: #00a1e1;
    color: #fff;
    padding: 25px 50px;
}

.area-simple h4 {
    color: #fff;
}

.papers {
    color: #777;
}

.performers-list .papers {
    margin: 10px 0;
    padding: 25px 10px;
    width: 100%;
}

#header-left-carousel .carousel-indicators .active {
    background-color: rgba(0,167,225,0.9) !important;
}

#header-left-carousel .carousel-indicators li {
    border-color: rgba(0,167,225,0.9) !important;
}