@import "default-vars";

$color_template_primary: #00a1e1;
$color_template_secondary: #222;

@import "base";

.top-panel {
    margin-bottom: 10px;
}

.top-panel-title {
    padding: 5px 20px;
    display: inline-block;
}

.footer {
    color: #f0f0f0;
    padding: 20px 0;
}

.footer a { 
    color: #f0f0f0;
    font-weight: bold;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

a {
    color: #328ADC;

    &:hover {
        color: #328ADC;
    }
}

.alert {
    background-image: none;
}

.alert-box {
    position: relative;
    top: 0;
    left: 0;
}

.language-box {
    background: transparent;
    right: 0;
    left: initial;
    color: #000;

    .wrap {
        padding: 13px 20px 12px 20px;
    }
}

.language-box .dropdown-menu {
    left: initial;
    right: 0;
    top: 50px;
}

.footer ul {
    display: inline-block;
}

.heading {
    padding-top: 15px;
}

.motto {
    color: #c01d31;
    text-align: center;
}

.navbar.navbar-inverse.navbar-static-top a {
    padding: 19px 16px 18px 16px;
}

.navbar-nav {
    text-align: left;
}

.navbar-wrapper {
    height: 55px;
}

.top-panel {
    position: fixed;
    background-color: #fff;
    width: 100%;
    margin: 0;
    z-index: 100;
}

.content {
    position: relative;
    padding-top: 55px;
    display: inline-block;
    width: 100%;
}

.menu {
    left: 300px;

    .container {
        width: 100%;
    }
}

#wrapper {
    margin-left: 0;
}

.purchase-form-reg th {
    text-align: right;
    padding-right: 10px;
}

.steps-ul {
    color:#000;
    margin-top:10px;
    list-style-type:none;
    font-size: 1.4em;

    li {
        margin-bottom: 10px;
    }
}

.ts-home-events h4 {
    font-size: 24px;
}

.responsive-form .row {
    margin-bottom: 10px;
}

.cart-line {
    background-color: #222;
    color: #fff;

    .container {
        padding: 20px 10px;    
    }

    a {
        color: #fff;
    }
}

.ts-event-description,.ts-event-description p {
    font-size: 18px;
}

.language-box, .reservation-box {
    height: 55px !important;
}

.footer .socials li {
    margin: 0;
}

.navArea .menuItem-main a {
    background-color: #00a1e1 !important;
}

.navArea .menuItem-flag {
    fill: #00a1e1;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    box-shadow: none;
}

@media screen and (min-width: 991px) {
    .navbar-nav {
        padding-left: 60px;
    }
}

.banner-top {
    background-color: #444;
    box-shadow: 5px 5px 10px #888;
}