@import "default-vars";

$color_template_primary: #ae0600;
$color_template_secondary: #004cab;

@import "base";
@import "../part/career";

.s-style-img h2 {
    color: #fff !important;
    text-shadow: 2px 2px #000000 !important;
}

.career-request-form th, .career-request-form td  {
    padding: 5px 10px;
}

.career-request-form table {
    margin: 0 auto;
    min-width: 500px;
}