@import "default-vars";

$color_template_primary: #ae0600;
$color_template_secondary: #222;

@import "base";

#wrapper {
    margin-left: 0;
}

.flyers-carousel .carousel-indicators .active {
    background-color: #ae0600;
}

a.reservation-box, a.reservation-box:hover {
    color: #fff !important;
}

.restmenuwrap {
    background: #fff;
}