@import "default-vars";

$color_template_primary: #FF5722;
$color_template_secondary: #333333;

@import "base";


.heading h2::first-letter {
    color: #FF5722;
}

.flyers-carousel .carousel-indicators .active {
    background-color: #FF5722;
}

.login-box:hover {
    background: #FF5722;
}

.contact.submit:hover {
    background: #FF5722;
}

.s-style-highlight-dark {
    background-color: #FF5722;
}

.s-style-img h2 {
    color: #fff !important;
}

.s-style-img h2::first-letter {
    color: #fff !important; 
}