@import "default-vars";

$color_template_primary: #81bc00;
$color_template_secondary: #e6a700;

@import "base";

.beers-hidden {
    display: none;
}

.login-box:hover {
    background: #81bc00;
}

.contact.submit:hover {
    background: #81bc00;
}
