@import "compass/css3";
@import "compass/utilities";

//colors
$color_mine_shaft_approx: #333;
$color_tapa_approx: #777;
$color_bright_red_approx: #ae0600;
$color_ghost_approx: #c3c8d6;
$black: #000;
$white: #fff;
$color_celeste_approx: #ccc;
$black_10: rgba(0,0,0,0.1);
$black_20: rgba(0,0,0,0.2);
$color_alto_approx: #ddd;
$color_gallery_approx: #eee;
$white_10: rgba(255,255,255,0.1);
$color_woodsmoke_approx: #111;
$black_60: rgba(0,0,0,0.6);
$white_80: rgba(255,255,255,0.8);
$color_mountain_mist_approx: #999;
$red:  red;
$color_shark_approx: #2a2a2a;
$color_thunderbird_approx: #b71c1c;
$color_apple_approx: #4caf50;
$color_log_cabin_approx: #212121;
$color_golden_fizz_approx: #ffeb3b;
$color_cerulean_approx: #03a9f4;
$color_tundora_approx: #444;
$color_rolling_stone_approx: #788188;
$color_outer_space_approx: #2d3339;

//fonts
$font_0: Montserrat;
$font_1: sans-serif;
$font_2: Playball;
$font_3: cursive;
$font_4: Open Sans;
$font_5: Ubuntu Condensed;
$font_6: Tahoma;
$font_7: fontawesome;
$font_8: Georgia;

//urls
$url_0: url(../img/pattern.png);

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
    color: $color_mine_shaft_approx;
    line-height: 1.4;
    font-weight: 700;
}

//original selectors
//.papers, .papers:before, .papers:after
%extend_2 {
    background-color: $white;
    border: 1px solid $color_celeste_approx;
    @include box-shadow(inset 0 0 30px $black_10, 1px 1px 3px $black_20);
}

//original selectors
//.papers:before, .papers:after
%extend_3 {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include transform(rotateZ(2.5deg));
    z-index: -1;
}

//original selectors
//.icon:before, .icon:after
%extend_4 {
    font-family: $font_7;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

//original selectors
//.info-keys:before, .info-keys:after
%extend_5 {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}

//original selectors
//input.contact, select.contact
%extend_6 {
    background: $white;
    border: solid 1px $color_alto_approx;
    color: $black;
    padding: 15px 30px;
    margin-right: 3%;
    margin-bottom: 30px;
    outline: none;
}

//original selectors
//.error input, input.error, .error textarea, textarea.error
%extend_7 {
    background-color: $white;
    border: 1px solid $red !important;
    @include transition(border linear 0.2s, box-shadow linear 0.2s);
}

//original selectors
//nav ul#main-pages li.main-page a span, nav ul#main-pages li.secondary-page a span
%extend_8 {
    visibility: hidden;
    top: 6px;
    left: 65px;
    background: $color_outer_space_approx;
    color: $white;
    @include border-radius(5px);
    padding: 0 14px;
    line-height: 38px;
    white-space: nowrap;
    z-index: 100;
    opacity: 0;
}


body {
    font-family: $font_0, $font_1;
    font-size: 16px;
    line-height: 1.7;
    color: $color_tapa_approx;
    font-weight: 400;
    overflow-x: hidden;
}

iframe {
    border: 0;
}

.playball {
    font-family: $font_2, $font_3;
}
h1 {
    @extend %extend_1;
}
h2 {
    @extend %extend_1;
}
h3 {
    @extend %extend_1;
}
h4 {
    @extend %extend_1;
}
h5 {
    @extend %extend_1;
}
h6 {
    @extend %extend_1;
}
.w960 {
    max-width: 960px;
    margin: 0 auto;
}
a {
    color: $color_bright_red_approx;
    text-decoration: none;
    &:hover {
        color: $color_bright_red_approx;
        text-decoration: none;
    }
}
img {
    max-width: 100%;
    &#site-title {
        max-width: 250px;
        max-height: 150px;
    }
}
.menu {
    margin-top: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
}

.slicknav_menu {
    display:none;
}

@media screen and (max-width: 767px) {
    .navbar-wrapper {
        display:none;
    }

    .slicknav_menu {
        display:block;
    }
}

.navArea {
}
.navbar-header {
    display: none;
}
.nav>li>a {
    display: inline-block;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
    float: none;
    padding-left: 0px;
}
@media screen and (min-width: 991px) {
    .navbar-nav {
        padding-left: 80px;
    }
}
.navbar-toggle {
    margin-top: 14px;
}
.navbar-wrapper {
    margin-top: 0;
    height: 80px;
    position: relative;
    z-index: 15;
    .container {
        padding: 0;
    }
}
.navbar-collapse {
    padding: 0;
    &.in {
        max-height: 100%;
    }
}
.hideClass {
    display: none;
}
.stuckMenu {
    @include transition(all .5s);
    background: $white;
}
.isFixed {
    left: 0;
    width: 100%;
    background: $color_mine_shaft_approx;
    @include transition(all .5s);
    .navbar-inverse .navbar-nav>.active>a {
        background: $color_bright_red_approx;
        color: $white !important;
        &:focus {
            background: $color_bright_red_approx;
            color: $white !important;
        }
    }
    .navbar.navbar-inverse.navbar-static-top a {
        color: $white;
        &:hover {
            background: $color_bright_red_approx;
            color: $white;
        }
    }
}
.collapse {
    display: block !important;
}
@media(max-width: 655px) {
    .collapse {
        background: $color_mine_shaft_approx;
    }
    .navbar-wrapper {
        height: 45px;
    }
    .navbar.navbar-inverse.navbar-static-top a {
        padding: 15px 16px;
        line-height: 15px;
        font-size: 13px;
    }
    .banner h2 {
        display: none;
    }
}
header {
    padding-top: 50px;
    margin-bottom: -40px;
}
.intro {
    font-family: $font_5, $font_6;
    font-size: 60px;
    line-height: 1.0;
    font-weight: 900;
    color: $white;
}
.parallax {
    position: relative;
    width: 100%;
    height: 600px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    overflow: hidden;
    .carousel-indicators {
        top: 530px !important;
        bottom: auto !important;
    }
}
.parallax-pattern-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: $url_0;
    background-repeat: repeat;
    .container {
        height: 580px;
        padding-top: 170px;
    }
}
.heading {
    padding-bottom: 15px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 80px;
    h2 {
        font-weight: 700;
        font-family: $font_5, $font_6;
        font-size: 35px;
        color: $color_mine_shaft_approx;
        margin: 0;
        padding: 5px;
    }
    h2::first-letter {
        color: $color_bright_red_approx;
    }
    h3 {
        font-size: 16px;
        line-height: 1.7;
    }
}
.papers {
    @extend %extend_2;
    position: relative;
    width: 90%;
    padding: 2em;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 12px;
    &:before {
        @extend %extend_2;
        @extend %extend_3;
    }
    &:after {
        @extend %extend_2;
        @extend %extend_3;
        @include transform(rotateZ(-2.5deg));
    }
    h1 {
        font-size: 1.8em;
        font-weight: normal;
        text-align: center;
        padding: 0.2em 0;
        margin: 0;
        border-top: 1px solid $color_alto_approx;
        border-bottom: 2px solid $color_alto_approx;
    }
    p {
        text-align: left;
        margin: 1.5em 0;
        font-size: 15px;
    }
    img {
        max-width: 100%;
        margin-bottom: 5px;
    }
}
.restmenuwrap {
    @include box-shadow(inset 0 0 0 16px $white,inset 0 0 0 17px $color_gallery_approx,inset 0 0 0 18px $white,inset 0 0 0 19px $color_gallery_approx,inset 0 0 0 20px $white,inset 0 0 0 21px $color_gallery_approx,0 4px 20px $black_10);
    @include transform(translateZ(0px));
    opacity: 1;
    pointer-events: auto;
    margin-bottom: 25px;
    width: 100%;
    font-size: 12px;
    padding: 40px 40px 20px 40px;
    ul {
        list-style-type: square;
        margin: 0 20px;
        padding: 0;
        text-align: left;
    }
    h5 {
        margin: 0;
        font-size: 14px;
    }
    .rm-thumb {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        margin: 0 20px 0 0;
        @include box-shadow(inset 1px 1px 3px $black_20, 1px 1px 1px $white_10);
        @include border-radius(50%);
    }
    .rm-head-img {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        float: left;
        margin: -5px 20px 0 10px;
    }
    h3.maincat {
        margin: 0 0 20px 0;
        font-size: 19px;
        padding-bottom: 10px;
        color: $color_bright_red_approx;
        border-bottom: 4px double $color_gallery_approx;
    }
}
.restitem {
    margin-bottom: 40px;
    p {
        margin-bottom: 0;
    }
}
.grid-gallery {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    figure {
        margin: 0;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    figcaption {
        h3 {
            margin: 0;
            padding: 0;
            color: $white;
            font-size: 17px;
            font-weight: 300;
        }
        p {
            margin: 0;
            font-size: 12px;
        }
    }
}
.gallery-photo {
    height: 160px;
    overflow: hidden;
    background: $color_woodsmoke_approx;
}
.grid-wrap {
    margin: 0 auto;
}
.grid {
    margin: 0 auto;
    li {
        width: 25%;
        float: left;
        cursor: pointer;
        &:hover figure {
            opacity: 0.7;
        }
    }
    figure {
        padding: 15px;
        @include transition(opacity 0.2s);
    }
    figcaption {
        background: $color_mine_shaft_approx;
        padding: 15px 25px;
        height: 76px;
        overflow: hidden;
    }
}
.slideshow {
    position: fixed;
    background: $black_60;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include perspective(1000px);
    @include transition(opacity 0.5s, visibility 0s 0.5s);
    ul {
        width: 100%;
        height: 100%;
        @include transform-style(preserve-3d);
        @include transform(translate3d(0,0,150px));
        @include transition(transform 0.5s);
        &.animatable li {
            @include transition(transform 0.5s);
        }
    }
    li {
        width: 660px;
        height: 560px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -280px 0 0 -330px;
        visibility: hidden;
        &.show {
            visibility: visible;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: $white_80;
            @include transition(opacity 0.3s);
        }
        &.current:after {
            visibility: hidden;
            opacity: 0;
            @include transition(opacity 0.3s,visibility 0s 0.3s);
        }
    }
    figure {
        width: 100%;
        height: 100%;
        background: $white;
        border: 50px solid $white;
        overflow: hidden;
    }
    figcaption {
        padding-bottom: 20px;
        h3 {
            font-weight: 300;
            font-size: 200%;
            color: $color_mine_shaft_approx;
        }
    }
    nav span {
        position: fixed;
        z-index: 1000;
        color: $white;
        text-align: center;
        padding: 2%;
        cursor: pointer;
        font-size: 2.2em;
        background: $black_10;
        &.nav-prev {
            top: 50%;
            @include transform(translateY(-50%));
        }
        &.nav-next {
            top: 50%;
            @include transform(translateY(-50%));
            right: 0;
        }
        &.nav-close {
            top: 75px;
            right: 0;
            padding: 10px 25px;
            color: $color_mountain_mist_approx;
        }
    }
}
.icon {
    &:before {
        @extend %extend_4;
    }
    &:after {
        @extend %extend_4;
    }
}
span {
    &.nav-prev:before {
        content: "\f104";
    }
    &.nav-next:before {
        content: "\f105";
    }
    &.nav-close:before {
        content: "\f00d";
    }
}
.info-keys {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1px;
    text-align: center;
    &:before {
        @extend %extend_5;
        left: 10px;
        content: "\e603";
    }
    &:after {
        @extend %extend_5;
        right: 10px;
        content: "\e604";
    }
}
@media screen and(max-width:60em) {
    .slideshow {
        li {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            margin: 0;
            figure img {
                width: auto;
                margin: 0 auto;
                max-width: 100%;
            }
        }
        nav span {
            font-size: 1.8em;
            padding: 0.3em;
            &.nav-close {
                font-size: 1.8em;
                padding: 0.3em;
            }
        }
    }
    .info-keys {
        display: none;
    }
    .grid li {
        width: 33.3%;
    }
}
@media screen and(max-width:35em) {
    .grid li {
        width: 50%;
    }
}
@media screen and(max-width:24em) {
    .grid li {
        width: 100%;
    }
}
input {
    &.contact {
        @extend %extend_6;
        &.noMarr {
            margin-right: 0;
        }
    }
    &.error {
        @extend %extend_7;
    }
}
textarea {
    &.contact {
        background: $white;
        color: $black;
        border: solid 1px $color_alto_approx;
        padding: 15px 30px;
        margin-bottom: 40px;
        outline: none;
        height: 150px;
    }
    &.error {
        @extend %extend_7;
    }
}
.done {
    display: none;
}
.error {
    padding: 5px 10px;
    color: $white;
    background-color: $color_thunderbird_approx;
    margin-bottom: 10px;
    input {
        @extend %extend_7;
    }
    textarea {
        @extend %extend_7;
    }
    ul {
        list-style-type: square;
        margin: 0;
    }
}
@media screen and(min-width:768px) {
    input.contact.col-md-6 {
        width: 48.5%;
    }
}
.footer {
    background: $color_bright_red_approx;
    margin-top: 120px;
    position: relative;
    .container {
        padding: 60px 0 20px;
    }
    ul {
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
        padding-left: 0;
        li {
            display: inline-block;
            text-align: center;
            background: $black_20;
            color: $white;
            line-height: 45px;
            margin: 0 4px;
            width: 45px !important;
            height: 45px !important;
            @include border-radius(3px);
            &:hover {
                background: $color_shark_approx;
                a {
                    color: $white;
                }
            }
            a {
                color: $white;
                width: 42px !important;
                height: 42px !important;
                i {
                    line-height: 45px;
                    width: 100%;
                    color: $white;
                }
            }
        }
    }
    p {
        color: $white;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
    }
    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}
.gototop {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: $white;
    position: absolute;
    margin-left: -30px;
    top: -35px;
    @include border-radius(50%);

    i {
        color: $color_bright_red_approx;
        line-height: 70px;
    }
}
blockquote {
    font-style: italic;
    margin: 0;
    padding: 20px 70px 10px;
    position: relative;
    font-size: 20px;
    border: 0;
    &:before {
        display: block;
        content: "\201C";
        font-size: 120px;
        position: absolute;
        left: 10px;
        top: -30px;
        color: $color_bright_red_approx;
        font-family: $font_8;
    }
    cite {
        color: $color_bright_red_approx;
        font-size: 14px;
        display: block;
        margin-top: 5px;
        text-align: right;
        &:before {
            content: "\2014 \2009";
        }
    }
}
.sameheight {
    display: flex;
    flex: 1 0 auto;
    > div[class*='col-'] {
        display: flex;
        flex: 1 0 auto;
    }
}
.alert-box {
    position: fixed;
    z-index: 1500;
    bottom: 0;
    left: 0;
    right: 0;
    .close {
        margin-top: 0.3em;
    }
}
.banner {
    &.row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .carousel {
        height: 100%;
        width: 100%;
    }
    .carousel-inner {
        height: 100%;
        width: 100%;
        .item {
            height: 100%;
            width: 100%;
            img {
                min-height: 100%;
                min-width: 100%;
                max-height: auto;
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
    }
}
.login-box {
    position: fixed;
    right: 50px;
    top: 0;
    height: 80px;
    background: $color_mine_shaft_approx;
    padding: 20px 15px;
    z-index: 1000;
    &:hover {
        cursor: pointer;
        background: $color_bright_red_approx;
        color: $white;
    }
}
.language-box {
    position: fixed;
    left: 80px;
    background-color: #fff;
    color: #000;
    font-weight: bold;

    img.flag {
        height: 30px
    }

    .title {
        position: relative;
        top: 2px;
    }

    .dropdown-menu li {
        padding: 5px 15px;

        &:hover {
            background: #f0f0f0;
        }
    }
}
.reservation-box {
    position: fixed;
    right: 0;
    background-color: #2c691f;
    z-index: 100;
    color: #fff;
}

.reservation-box, .language-box {
    z-index: 1000;
    top: 80px;
    height: 65px;
    cursor: pointer;

    .wrap {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        z-index: 2000;
    }
    .language-box {
        top: 0;
        background: transparent;
        z-index: 2100;
        height: 54px;
        color: #fff;

        .wrap {
            padding: 12px 15px;
        }
    }

    .reservation-box {
        top: 54px;
        z-index: 2100;
        height: 54px;
        color: #fff;

        .wrap {
            padding: 12px 15px;
        }
    }

    .modal {
        margin-top: 50px;
        z-index: 2100;
    }
}

@media screen and (max-width: 991px) {
    .language-box {
        left: 0;
    }
}

@media screen and (min-width: 1220px) {
    .language-box, .reservation-box {
        z-index: 1000;
        top: 0;
        height: 80px;

        .wrap {
            padding: 25px 20px;
        }
    }
}
.alert {
    font-weight: bold;
    font-size: 1.5em;
    @include border-radius(0);
    border: 0;
    margin: 0;
    padding: 0.2em 0.7em;
}
.alert-success {
    color: $white;
    background-color: $color_apple_approx;
}
.alert-danger {
    color: $white;
    background-color: $color_thunderbird_approx;
}
.alert-warning {
    color: $color_log_cabin_approx;
    background-color: $color_golden_fizz_approx;
}
.alert-info {
    color: $white;
    background-color: $color_cerulean_approx;
}
.video-area {
    width: 100%;
    height: 100%;
    video {
        min-height: 100%;
        min-width: 100%;
    }
}
@media screen and(max-height: 580px) {
    .dividerline {
        display: none;
    }
    .parallax {
        height: 300px;
    }
    .parallax-pattern-overlay .container {
        height: 280px;
        padding-top: 50px;
    }
}
@media screen and(max-width: 959px) {
    .login-box {
        right: 0;
    }
    .login-box-text {
        display: none;
    }
}
nav {
    display: block;
    width: 80px;
    z-index: 1001;
    background-color: $color_woodsmoke_approx;
    position: fixed;
    top: 0;
    bottom: 0;
    .svg {
        position: absolute;
        left: 10%;
        top: 5%;
        width: 80%;
        height: 90%;
        opacity: 0.5;
        filter: drop-shadow(0px 0 20px $white );
        &:hover {
            opacity: 1;
        }
    }
    .tooltip {
        font-size: 20px;
        .tooltip-inner {
            max-width: none;
            white-space: nowrap;
        }
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        &#main-pages>li {
            height: 50px;
            width: 100%;
            a {
                display: block;
                color: $color_rolling_stone_approx;
                position: relative;
                height: 100%;
                line-height: 50px;
            }
            &.main-page a {
                margin: 10px;
            }
            &.secondary-page a {
                margin: 10px;
            }
            &#desktop-nav-toggle a {
                margin: 10px;
            }
        }
        > li.active a {
            background: $color_tundora_approx;
            @include border-radius(3px);
        }
        &#main-pages li {
            &.main-page a span {
                @extend %extend_8;
            }
            &.secondary-page a span {
                @extend %extend_8;
            }
        }
    }
    li.active .svg {
        opacity: 1;
    }
}
@media screen and(min-width: 992px) {
    #wrapper {
        margin-left: 80px;
    }
    .alert-box {
        left: 80px;
    }
}
.navwrapper .container {
    padding: 0;
    width: auto;
}
.navbar.navbar-inverse.navbar-static-top {
    margin: 0 auto;
    background: none;
    color: $color_ghost_approx;
    border: none;
    font-family: $font_4, $font_1;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    a {
        color: $black;
        padding: 31px 16px;
        line-height: 18px;
        text-align: center;
        &:hover {
            background: none;
            color: $black;
        }
    }
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>.active>a {
    background: none;
    color: $black;
    &:focus {
        background: none;
        color: $black;
    }
    &:hover {
        color: $white;
    }
}
.slideshow-open .slideshow {
    opacity: 1;
    visibility: visible;
    @include transition(opacity 0.5s);
    ul {
        @include transform(translate3d(0, 0, 0));
    }
}
select.contact {
    @extend %extend_6;
}
.contact.submit {
    background: $color_mine_shaft_approx;
    font-family: $font_0, $font_1;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    border: none !important;
    @include border-radius(3px);

    &:hover {
        background: $color_bright_red_approx;
    }
}
form .g-recaptcha {
    width: 304px;
    margin: 0 auto;
    margin-top: -10px;
}